//Base styles
@import './reset';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@200;400;700&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 15px;
    width: 100%;
}